:root {
  background-image: linear-gradient(to bottom,  #000000, #05183c);
  color: white;
}
.container-header {
  display: flex;
  justify-content: space-between;
  .header-left {
    display: flex;
    width: 50%;
    h1{
        color: #fff;
    }
  }
  .header-right {
    justify-content: end;
    align-items: center;
    display: flex;
    width: 50%;
    #busqueda {
      height: 50%;
      width: 50%;
    }
  }
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color:#05183c   ;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #1a3c7d;
}
.container-personajes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  text-align: center;
}
.container-planetas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }

.container-naves {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
}
.container-vehiculos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }
.container-especies {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  text-align: center;
}
.container-peliculas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }
  
.card {
    width: 25%;
  margin: 2%;
}
.card:hover {
    border-radius: 5%;
    opacity: 0.5;
  box-shadow: 0 2px 15px 2px #fff;
  transform: translateY(0);
  background-color: #1a3c7d;
}
.content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  img {
    width: 25%;
    height: 25%;
  }
  p{
    color: red;
    
  }
}
