:root {
  background-color: black;
  color: white;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 15vw;
  }
  .container-bsc{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    .bsc{
      cursor: pointer;
      border: mone;
      width: 50%;
      background-color:#05183c;

    }
  }
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color:#05183c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
main{
  display: flex;
}
.btn:hover{
    background-color: #1a3c7d;
}
.container-personajes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  text-align: center;
}
.container-planetas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }

.container-naves {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
}
.container-vehiculos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }
.container-especies {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  text-align: center;
}
.container-peliculas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
  }
  
.card {
  border: #05183c solid;
  width: 25%;
  margin: 2%;
}
.card:hover {
  border-radius: 5%;
  opacity: 0.5;
  box-shadow: 0 2px 15px 2px #fff;
  transform: translateY(0);
  background-color: #1a3c7d;

}
.content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  img {
    width: 25%;
    height: 25%;
  }
  p{
    color: red;
    
  }
}

@media screen {
  
}